<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="header">
      <nav></nav>
      <div class="header-container">
        <header>EXPLORE CANADA</header>
        <h3>Work in Canada. Study in Canada. Live in Canada</h3>
        <button>LEARN MORE</button>
      </div>
    </section>
    <section class="about">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <header>About Canada</header>
            <p>
              Pariatur pariatur sint aliqua magna in commodo sunt. Ullamco non veniam irure occaecat velit nisi dolor id eiusmod reprehenderit non Lorem tempor. Cillum enim dolor est duis proident velit. Sunt enim et enim eiusmod laboris adipisicing. Sint amet anim laborum qui in ad ex pariatur deserunt pariatur. Incididunt est anim adipisicing nisi quis amet amet laboris ipsum cupidatat consectetur et.
            </p>
            <a href="">Learn more</a>
          </div>
          <div class="col-6">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </section>
    <section class="services">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <header>Services</header>
            <p>
              Enim deserunt velit amet ut veniam. Lorem sint tempor dolor sint. Nulla sint eiusmod incididunt amet ipsum officia quis. Incididunt in laboris est nostrud.
            </p>
            <img src="" alt="">
          </div>
          <div class="col-4">
            <div class="service-info">
              <img src="" alt="">
              <header>Study Permit</header>
              <p>
                Mollit enim aliquip excepteur dolore. Dolor elit culpa exercitation tempor proident do. Pariatur veniam dolore non excepteur do adipisicing adipisicing labore aliquip enim occaecat. Voluptate consectetur cillum ipsum adipisicing commodo pariatur laboris cillum ea ullamco aliqua consequat. Nisi occaecat aliquip anim enim Lorem magna excepteur labore ea. Amet eu commodo consectetur qui tempor amet aliqua elit cillum consequat ut enim. Est nisi Lorem ex ipsum enim nostrud magna laboris mollit nulla veniam aliqua consectetur.
              </p>
              <a href="">Learn more</a>
            </div>
            <div class="service-info">
              <img src="" alt="">
              <header>Study Permit</header>
              <p>
                Mollit enim aliquip excepteur dolore. Dolor elit culpa exercitation tempor proident do. Pariatur veniam dolore non excepteur do adipisicing adipisicing labore aliquip enim occaecat. Voluptate consectetur cillum ipsum adipisicing commodo pariatur laboris cillum ea ullamco aliqua consequat. Nisi occaecat aliquip anim enim Lorem magna excepteur labore ea. Amet eu commodo consectetur qui tempor amet aliqua elit cillum consequat ut enim. Est nisi Lorem ex ipsum enim nostrud magna laboris mollit nulla veniam aliqua consectetur.
              </p>
              <a href="">Learn more</a>
            </div>
          </div>
          <div class="col-4">
            <div class="service-info">
              <img src="" alt="">
              <header>Study Permit</header>
              <p>
                Mollit enim aliquip excepteur dolore. Dolor elit culpa exercitation tempor proident do. Pariatur veniam dolore non excepteur do adipisicing adipisicing labore aliquip enim occaecat. Voluptate consectetur cillum ipsum adipisicing commodo pariatur laboris cillum ea ullamco aliqua consequat. Nisi occaecat aliquip anim enim Lorem magna excepteur labore ea. Amet eu commodo consectetur qui tempor amet aliqua elit cillum consequat ut enim. Est nisi Lorem ex ipsum enim nostrud magna laboris mollit nulla veniam aliqua consectetur.
              </p>
              <a href="">Learn more</a>
            </div>
            <div class="service-info">
              <img src="" alt="">
              <header>Study Permit</header>
              <p>
                Mollit enim aliquip excepteur dolore. Dolor elit culpa exercitation tempor proident do. Pariatur veniam dolore non excepteur do adipisicing adipisicing labore aliquip enim occaecat. Voluptate consectetur cillum ipsum adipisicing commodo pariatur laboris cillum ea ullamco aliqua consequat. Nisi occaecat aliquip anim enim Lorem magna excepteur labore ea. Amet eu commodo consectetur qui tempor amet aliqua elit cillum consequat ut enim. Est nisi Lorem ex ipsum enim nostrud magna laboris mollit nulla veniam aliqua consectetur.
              </p>
              <a href="">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="provinces">
      <header>Provinces</header>
      <div class="container"></div>
    </section>
    <section class="about-us">
      <div class="about-container">
        <header>About Us</header>
        <p>
          Duis ullamco deserunt do magna deserunt exercitation ex. Ipsum Lorem qui aliquip ullamco culpa dolor consequat non amet anim aliquip aute ipsum et. Commodo est commodo sunt esse ut nostrud proident nostrud eu ut est labore. Exercitation occaecat cupidatat veniam ex aliquip ad magna officia nostrud qui et sunt proident elit.
        </p>
        <div class="about-author">
          <img src="" alt="">
          <h5>John Doe</h5>
          <p>Canadian Immigration Consultant</p>
        </div>
      </div>
    </section>
    <section class="contact">
      <header>Contact Us</header>
      <div class="contact-container">

      </div>
    </section>
    <footer>
      <span>&copy; Copyright 2018. All rights reserved</span>
    </footer>
  </body>
</html>
